body {
    font-family: sans-serif;
}

.history-container {
    display: flex;
    flex-direction: column;
    height: 30rem;
    overflow-y: auto;
    width: 18rem;
    background-color: #595959;
    border-radius: 5px;
    margin-left: 50px;
}

.history-list li {
    list-style-position: inside;
    text-align: center;
    color: white;
    font-size: 1rem;
    margin: 0.15rem;
}

.history-list li::marker {
    font-size: 0.85rem;
}

.history-list {
    display: grid;
    grid-template-columns: auto auto;
    padding: 1rem;
    margin: 0;
}

.history-title {
    color: white;
    text-align: center;
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    margin: 1rem;
}